USE [Appointment]
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 2025/8/12 11:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[ID] [varchar](5) NOT NULL,
	[Text] [nvarchar](50) NOT NULL,
	[Start] [datetime] NOT NULL,
	[End] [datetime] NOT NULL
) ON [PRIMARY]
GO
